  
{% extends 'museum/base.html' %}


{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        
      <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" >
            <div style="text-align: center; margin-top: 15px;">
            <img src="https://drive.google.com/uc?export=view&id={{ post.price }}&usp=sharing" alt="Generic placeholder image"  height="170" width="265">
            </div>
            <div class="card-body">
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              <p class="card-text"><a href="/posts/{{ post.id }}">{{ post.title }}</a></p></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" ><a href="/posts/{{ post.id }}">見る</a></button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                
              </div>
            </div>
            
          </div>
        </div>
        {% endfor %}
        

  　{% endblock %}
