{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles/destroy.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>
<body>
    <header class="header_color">
        <div class="shokai main_color">#LINEで初回</div>
        <div>
            <a href="#" class="conversion_button">お問合せ&nbsp;&nbsp;&nbsp;<img src="{% static 'top_img/矢印アイコン　右4 (1).png' %}" height="15px" 1alt="右矢印"></a>
        </div>
    </header>
    <class class="content">
        <div class="desktop"><img src="{% static 'top_img/top_img.png' %}" width="100%" alt="メイン画像"></div>
        <div class="mobile"><img src="{% static 'top_img/1E705FAB-9FBA-4301-805B-0DB13C5FA1AB.jpeg' %}" width="100%" alt="メイン画像"></div>
        <div class="link_list">
            <ul>
                <a href="#shokai" class="link_button">
                    <div class="link_name">LINEで<br>初回？</div>
                    <div><img src="{% static 'top_img/矢印アイコン　下4.png' %}" alt="下矢印" width="18px"></div>
                </a>
                <a href="#use" class="link_button">
                    <div class="link_name center">使い方</div>
                    <div><img src="{% static 'top_img/矢印アイコン　下4.png' %}" alt="下矢印" width="18px"></div>
                </a> 
                <a href="/posts" class="link_button">
                    <div class="link_name">店舗<br>一覧</div>
                    <div><img src="{% static 'top_img/矢印アイコン　下4.png' %}" alt="下矢印" width="18px"></div>
                </a>                           
            </ul>
        </div>
        <div id="shokai" class="Line_shokai">
            <div class="title">
                <h1>LINEで初回</h1>
                <!-- スライダー -->
                <ul class="slider">
                    <li><img src="{% static 'top_img/IMG_1846.jpg' %}"  alt="hangcover"></li>
                    <li><img src="{% static 'top_img/IMG_1846.jpg' %}" alt="hangcover"></li>
                    <li><img src="{% static 'top_img/IMG_1846.jpg' %}" alt="hangcover"></li>
                </ul>
                <div class="description">
                    <h5>今すぐ行ける初回を即ご案内</h5><br>
                    <h5>LINEで簡単予約てきる</h5><br>
                    <h5>オンライン外販</h5>                    
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="content">
                            <img src="{% static 'top_img/IMG_1809.jpg' %}" alt="point1_img">
                            <div class="description">路上の外販に店を紹介してもらうより、<br>スマートでスムーズ</div>
                        </div>
                    </div>
                    <div class="card card2">
                        <div class="content">
                            <img src="{% static 'top_img/IMG_1810.jpg' %}" alt="point2_img">
                            <div class="description">ラインボットが即レスで<br>お店を探すので<br>早くてわかりやすい</div>
                        </div>
                    </div>
                    <div class="card card3">
                        <div class="content">
                            <img src="{% static 'top_img/IMG_1811.jpg' %}" alt="point3_img">
                            <div class="description">ラインボットが24時間いつでも<br>お問い合わせに対応します</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><button class="conversion_button big">まずはLINEでお問合せ</button></div>
        <div id="use" class="how_to_use">
            <h1>使い方</h1>
            <div class="card_steps">
                <div class="card_step">
                    <div class="content">
                        <div class="description_title">まずはラインボットを友達追加</div>
                        <div class="description">登録不要！<br>簡単LINE追加で今すぐ使えます！</div>
                    </div>
                </div>   
                <div class="card_allow"><img src="{% static 'top_img/矢印アイコン　下4.png' %}" alt="下矢印" width="18px"></div>
                <div class="card_step card2">
                    <div class="content">
                        <div class="description_title">LINE botで行きたいお店を探す</div>
                        <img src="{% static 'top_img/IMG_1810.jpg' %}" alt="step2_img" width="100%">
                        <div class="description">LINE内で簡単店舗検索から<br>予約まで！</div>
                    </div>
                </div>   
                <div class="card_allow"><img src="{% static 'top_img/矢印アイコン　下4.png' %}" alt="下矢印" width="18px"></div>
                <div class="card_step card3">
                    <div class="content">
                        <div class="description_title">メッセージ送信</div>
                        <img src="{% static 'top_img/IMG_1811.jpg' %}" alt="step3_img" width="100%">
                        <div class="description">気になるお店を見つけたら<br>「行きたい！」とメッセージ<br>するだけ！</div>
                    </div>
                </div>
                <div class="card_allow"><img src="{% static 'top_img/矢印アイコン　下4.png' %}" alt="下矢印" width="18px"></div>
                <div class="card_step card4">
                    <div class="content card4">
                        <div class="description_title">案内情報を受けとって初回へ</div>
                        <img src="{% static 'top_img/IMG_1851.jpg' %}" alt="step4_img" width="100%">
                        <div class="description">5分以内に空き情報を確認して<br>速攻ご案内！！</div>
                    </div>
                </div> 
            </div>     
        </div>
    </div>
        <div><button class="conversion_button big">まずはLINEでお問合せ</button></div>
    <footer>
        <div class="line_parts"></div>
        <ul>
            <li><a href="https://line-de-shokai.herokuapp.com/terms">利用規約</a></li>
            <li><a href="https://line-de-shokai.herokuapp.com/admin/login/?next=/admin/">管理画面</a></li>
        </ul>
        <small>All rights reserved by Shono Mercy and <a href="https://otohub.tokyo/">ボットで初回.</a></small>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/top_js/slider.js' %}"></script>
<script src="{% static 'js/top_js/scroll.js' %}"></script>

</body>
</html>
